@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&subset=latin,latin-ext);
body{
	font-family:'Open Sans' !important; 
	font-weight:300;
}
header{
	padding-top:10px;
	padding-bottom:10px;
	position:fixed;
	background-color:white;
	width:100%;
	z-index:100;
}
footer{
	padding-top:10px;
	padding-bottom:10px;
	background-color:#F6F6F6;
	border-top:1px solid #DDDDDD;
}
h1, h2{
	margin:0;
	padding:0;
}
.section-photo .iphone{
	width:0px;
	overflow:visible;
	float:left;
}
.section-photo .nexus{
	width:0px;
	overflow:visible;
	float:left;
	position:relative;
	left:260px;
}
.header-right{
	text-align:right;
	margin-top:5px;
}
.footer-menu{
	text-transform:uppercase;
	margin-top:3px;
}
.footer-menu a{
	color:black;
	font-weight:300;
	margin-right:10px;
	font-size:14px; 
}
.footer-menu a.facebook{
	color:#6B6B6B;
	float:right;
	text-transform:none;
	background:url(../images/ico_facebook_footer.png) left center no-repeat;
	padding-left:13px;
}
.center{
	text-align:center;
}
.top{
	height:70px;
}
.section-photo{
	background:url(../images/sunset.jpg) center center no-repeat;
	background-size:cover;
	padding-top:10px;
	padding-bottom:45px;
	color:white; 
}
.video{
	background:orange url();
}
.apla{
	height:0;
	overflow:visible;
	position:relative;
	top:-10px;
	z-index:10;
}
.apla .in{
	background:url(../images/apla.png);
	height:705px;
}
.video-box{
	height:0;
	overflow:visible;
	position:relative;
	top:-10px;
}
.video-box .in{
	height:705px;
	overflow:hidden;
}
.video-background{
	width: 100%;    
	position:relative; 
}
.section-photo .container{
	z-index:10;
}
.section-photo .photos img:first-child{
	margin-right:40px;
}
.section-photo ul, .section-mob-f ul{
	margin:0;
	padding:0;
}
.section-photo ul li, .section-mob-f ul li{
	list-style:none;
	margin-top:10px;
	padding-left:30px;
	background:url(../images/checkmark.png) left top no-repeat;
	font-size:15px; 
}
.section-tiles{
	padding-top:55px;
	padding-bottom:70px;
}
.section-tiles .tiles{
	margin-left:90px;
	margin-right:90px;
}
.tile{
	text-transform:uppercase;
	color:#6B6B6B;
	padding-top:100px;
	margin-top:55px;
	
}
.tile-1{
	background:url(../images/ico_zalogowac_sie_do_serwisu.png) top center no-repeat;
}
.tile-2{
	background:url(../images/ico_przegladac_profile.png) top center no-repeat;
}
.tile-3{
	background:url(../images/ico_camera.png) top center no-repeat;
}
.tile-4{
	background:url(../images/ico_wyszkiwarka_icon.png) top center no-repeat;
}
.tile-5{
	background:url(../images/ico_wysylac_wiadomosci.png) top center no-repeat;
}
.tile-6{
	background:url(../images/ico_umawiac_sie_na_randki.png) top center no-repeat;
}
.center{
	padding-left:0;
	padding-right:0;
}
.border{
	border-right:1px solid #DDDDDD;
}
.section-photo .icons{
	margin-top:30px;
}
.slider-left, .slider-right{
	display:inline-block;
	width:40px;
	height:68px;
	position:relative;
	top:250px;
}
.slider-left{
	background:url(../images/arrow_left_white.png) center center no-repeat;
}
.slider-left:hover{
	background:url(../images/arrow_left_blue.png) center center no-repeat;
}
.slider-right{
	background:url(../images/arrow_right_white.png) center center no-repeat;
}
.slider-right:hover{
	background:url(../images/arrow_right_blue.png) center center no-repeat;
}
.slider{
	display:none;
}
.slider-0{
	display:block;
}
.slider p{
	font-size:15px;
	margin-top:7px;
	margin-bottom:0;
}
.section-photo .row:first-child{
	margin-bottom:10px;
}
.point{
	width:10px;
	height:10px;
	background-color:white;
	border-radius:50%;
	display:inline-block;
	margin-left:5px;
	margin-right:5px;
	cursor:pointer;
}
.point.selected{
	background-color:#2AAEF2;
}
.show-mob{
	display:none;
}
.section-mob-2{
	background-color:#4988A8;
	padding-top:35px;
	padding-bottom:35px;
	color:white;
}
.section-mob-2 h2{
	margin-bottom:10px;
}
.section-mob-2 p{
	margin-top:15px;
}
.show-android{
	display:none;
}
/*   */ @media (max-width: 1290px) {
	.video-background{
		height: 100%;   
		width: auto;
	}
}
/* Medium devices (desktops, 992px and up) */ @media (max-width: 1200px) {
	.section-photo .photos img{
		width:200px;
		margin-top:100px;
	}	
	.section-photo .photos .nexus img{
		width:230px;
	}
	.section-photo .nexus{
		left:190px;
	}
	.section-photo .slider{
		height:480px;
	}
	.section-tiles .tiles{
		margin-left:0;
		margin-right:0;
	}
	.footer-menu a{ 
		margin-right:12px;
		font-size:12px; 
	}
	.video-background{
		height: 100%;   
		width: auto;
	}
}
/* Small devices (tablets, 768px and up) */ @media (max-width: 992px) {
	.section-photo .photos img{
		width:135px;
		display:block;
		margin-top:0;
		margin-left:30px;
	}	
	.section-photo .photos .nexus img{
		width:150px;
	}
	.section-photo .nexus{
		left:-7px;
		top:230px;
	}
	.section-photo .photos img:first-child{
		margin-bottom:10px;
	}
	.section-photo .slider{
		height:470px;
	}
	.section-tiles h2{
		font-size:29px;
	}
	.section-tiles .border{
		border-right:none;
	}
	footer img{
		display:none;
	}
	.footer-menu a{
		margin-right:5px;
	}
}
/*  */ @media (max-width: 768px) {
	.show-mob{
		display:block;
	}
	.hdn-mob{
		display:none;
	}
	.tile{
		font-size:12px;
	}
	.section-mob-f, .section-mob-0, .section-mob-1{
		padding-top:20px;
		padding-bottom:20px;
	}
	.section-mob-0 p{
		margin-top:15px;
	}
	.section-mob-f ul li{ 
		margin-top:15px; 
	}
	header .logo{
		margin-top:10px;
	}
	.section-photo{
		padding-bottom:0;
		padding-top:30px;
	}
	.section-photo h1{
		font-size:22px;
		margin-top:40px;
		margin-bottom:20px;
	}
	.top{
		height:60px;
	}
}
